{% form 'product', product, id: form_id, class: 'product-single__form' %}
  {%- liquid
    assign gift_card_recipient_feature_active = false
    if block.settings.show_gift_card_recipient and product.gift_card?
      assign gift_card_recipient_feature_active = true
    endif

    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder' and gift_card_recipient_feature_active == false
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if gift_card_recipient_feature_active -%}
    {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
  {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}

  {%- liquid
    assign default_text = 'products.product.add_to_cart' | t
    assign button_text = 'products.product.add_to_cart' | t
    if template contains 'preorder'
      assign default_text = 'products.product.preorder' | t
      assign button_text = 'products.product.preorder' | t
    endif
    unless current_variant.available
      assign button_text = 'products.product.sold_out' | t
    endunless
  -%}

  <button
    {% if product.empty? %}
      type="button"
    {% else %}
      type="submit"
    {% endif %}
    name="add"
    data-add-to-cart
    class="btn btn--full add-to-cart"
    {% unless current_variant.available %}
      disabled="disabled"
    {% endunless %}
  >
    <span class="icon">
      {% render 'icon-white-cart' %}
    </span>
    <span data-add-to-cart-text data-default-text="{{ default_text }}" style="text-transform:uppercase">
      {{ button_text | upcase }}
    </span>
  </button>

  {% if block.settings.add_to_cart_fixed %}
    <!-- FLOATING ATC MOBILE -->
    <div class="atc-float-btn" id="atc-float-btn">
      <button
        {% if product.empty? %}
          type="button"
        {% else %}
          type="submit"
        {% endif %}
        name="add"
        data-add-to-cart
        class=" btn btn--full add-to-cart"
        {% unless current_variant.available %}
          disabled="disabled"
        {% endunless %}
      >
        <span data-add-to-cart-text data-default-text="{{ default_text }}" style="text-transform:uppercase">
          {{ button_text | upcase }}
        </span>
      </button>
    </div>
  {% endif %}

  {% if enable_dynamic_buttons %}
    {{ form | payment_button }}
  {% endif %}

  {% if enable_dynamic_buttons %}
    </div>
  {% endif %}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {% if variant.available %}
        <option
          {% if variant == product.selected_or_first_available_variant %}
            selected="selected"
          {% endif %}
          value="{{ variant.id }}"
        >
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
    {%- endfor -%}
  </select>
{% endform %}

<script>
  window.addEventListener('scroll', function () {
    let atcBtnFloat = document.getElementById('atc-float-btn');
    if (window.scrollY > 150) {
      atcBtnFloat.style.transform = 'translateY(100%)';
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    let atcBtnFloat = document.getElementById('atc-float-btn');
    if (window.innerWidth >= 768) {
      atcBtnFloat.style.display = 'none';
    }
  });
</script>

<style>
  .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    .atc-float-btn {
      display: none;
    }
  }
  .atc-float-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 67px;
    padding: 16px 10px;
    background: white;
    border-top: 1px solid #d9d9d9;
    z-index: 2;
    transition: 0.3s;
  }
  .atc-float-btn .btn {
    min-height: unset;
    background-color: var(--accent-color) !important;
    border: none !important;
    color: white !important;
  }
</style>
