{% if product.metafields.custom.bundle_products != blank %}
  {% assign hasUnavailableProduct = false %}
  {% for bundle_product in product.metafields.custom.bundle_products.value %}
    {% if bundle_product.available? == false %}
      {% assign hasUnavailableProduct = true %}
    {% endif %}
  {% endfor %}

  {% unless hasUnavailableProduct %}
    {% assign total_price = product.price %}
    <div class="bundle-section-wrapper">
      <h4 class="bundle-section-header">{{ block.settings.header }}</h4>
      <h6 class="bundle-section-subheader">{{ block.settings.subheader }}</h6>
      <!-- FORLOOP PRODUCTS -->

      <div class="bundle_products-wrapper">
        {% for bundle_product in product.metafields.custom.bundle_products.value %}
          {% assign bundle_variant = bundle_product.selected_or_first_available_variant %}
          {% assign total_price = total_price | plus: bundle_variant.price %}
          <div class="bundle_product_card">
            <input
              type="checkbox"
              value="{{ bundle_variant.id }}"
              id="include_product_{{ bundle_variant.id }}"
              class="product-checkbox"
              checked
            >
            {% render 'image-element', img: bundle_product.featured_image | image_url, img_width: "68px", classes: "bundle_img" %}
            <div class="bundle_text">
              <a href="{{ bundle_product.url }}">
                <h6 class="bundle_product-title">{{ bundle_product.title }}</h6>
              </a>
              <h6 class="bundle_product-price">{{ bundle_variant.price | money }}</h6>
              <!-- SIZE SELECTOR -->
              {% if bundle_product.variants.size > 1 %}
                <h6 class="bundle_variant-title">SIZE</h6>
                <select
                  class="bundle_variant-select"
                  name="size[]"
                  data-index="option2"
                  data-upsell-variant-id
                >
                  {% for variant in bundle_product.variants %}
                    {% if variant.available %}
                      {% assign option = variant.option2 %}
                      {% if option == blank %}
                        {% assign option = variant.option1 %}
                      {% endif %}
                      <option data-index="option2" data-value="{{ option }}" value="{{ variant.id }}">
                        {{ option }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                {{ bundle_variant.option2 }}
                <input type="hidden" name="option2[]" data-upsell-variant-id value="{{ bundle_variant.id }}">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- PRICE -->
      <h3 class="bundle_total-price">
        TOTAL PRICE: {{ total_price | times: 90 | divided_by: 100 | money }}
        <span class="bundle_total-price-no-discount">{{ total_price | money }}</span>
      </h3>
      <h6 class="bundle_total-price-subtext">Discount will apply on checkout.</h6>

      <button
        type="button"
        data-add-to-cart
        name="add"
        id="bundle-add-to-cart"
        class="btn btn--full add-to-cart"
        disabled="disabled"
        upsell-add-to-cart-btn
      >
        <span
          data-add-to-cart-text
          data-default-text="ADD BUNDLE TO CART"
          style="text-transform:uppercase"
        >
          ADD BUNDLE TO CART
        </span>
      </button>
    </div>
  {% endunless %}

  <script>
    // LISTENER TO ENABLE SUBMIT BUTTON
    let checkboxes = document.querySelectorAll('.product-checkbox');
    let checkboxesNumber = checkboxes.length;

    function updateBundleAddToCartButton() {
      let checkedCheckboxes = document.querySelectorAll('.product-checkbox:checked').length;
      if (checkedCheckboxes > 0) {
        document.getElementById('bundle-add-to-cart').removeAttribute('disabled');
      } else {
        document.getElementById('bundle-add-to-cart').setAttribute('disabled', 'disabled');
      }
    }

    checkboxes.forEach(function (checkbox) {
      checkbox.addEventListener('change', function (e) {
        updateBundleAddToCartButton();
        const target = e.currentTarget;
        const card = target.closest('.bundle_product_card');
        card.querySelector('[data-upsell-variant-id]').disabled = !target.checked;
      });
    });
    window.addEventListener('load', function () {
      updateBundleAddToCartButton();
    });
    document.querySelectorAll(".size-input-option[name='size']").forEach((input) => {
      input.addEventListener('change', function () {
        updateBundleAddToCartButton();
      });
    });

    const upsellButton = document.querySelector('[upsell-add-to-cart-btn]');
    upsellButton.addEventListener('click', function () {
      const inputs = document.querySelectorAll('[data-upsell-variant-id]:not(:disabled)');
      const values = Array.from(inputs).map((input) => input.value);
      const items = values.map((value) => ({ id: value, quantity: 1 }));
      const productVariantId = document.querySelector('[data-product-select]').value;
      items.push({ id: productVariantId, quantity: 1 });
      let formData = {
        items: items,
      };
      addJS(formData);
    });

    async function addJS(formData) {
      return fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      })
        .then((response) => {
          if (response.status === 200) {
            window.location.href = '/cart';
          }
        })
        .catch((e) => {
          throw new Error(e);
          console.log(e);
        });
    }
  </script>
{% endif %}
