{% comment %} <div class="announcement{% if section.settings.announcement_closable %} announcement--closeable announcement--closed{% endif %}">
  {%- if section.settings.announcement_link != blank and section.settings.announcement_link_text == blank -%}
    <a href="{{ section.settings.announcement_link }}" class="announcement__link">
  {%- endif -%}

  <span
    class="announcement__text{% unless section.settings.announcement_closable %} announcement__text--open{% endunless %}"
    data-text="{{ section.settings.announcement_text | strip_html | handle }}"
  >
    {{ section.settings.announcement_text | strip_html }}
  </span>

  {%- if section.settings.announcement_link != blank and section.settings.announcement_link_text == blank -%}
    </a>
  {%- endif -%}
  <div class="buttons_wrapper">
    {%- if section.settings.announcement_closable -%}
      <button type="button" class="text-link announcement__close">
        HIDE THIS MESSAGE
        <span class="icon__fallback-text">{{ 'general.accessibility.close' | t | json }}</span>
      </button>
    {%- endif -%}
    {%- if section.settings.announcement_link != blank and section.settings.announcement_link_text != blank -%}
      <a href="{{ section.settings.announcement_link }}" class="announcement_link_text">
        {{- section.settings.announcement_link_text -}}
      </a>
    {%- endif -%}
  </div>
</div> {% endcomment %}

{% render 'announcement-bar' %}

<style>
  #shopify-section-{{ section.id }}.shopify-section-group-header-group .announcement {
    max-height: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #shopify-section-{{ section.id }}.shopify-section-group-header-group .announcement--closed {
    max-height: 0px !important;
  }

  #shopify-section-{{ section.id }} .buttons_wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 8px
  }
  @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} .buttons_wrapper {
      gap: 5px;
      margin-bottom: 0px
    }
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }}.shopify-section-group-header-group .announcement {
      flex-direction: column;
    }
  }
  .announcement__close {
    background: var(--accent-color);
    border-radius: 3px;
    position: relative;
    transform: none;
    color: white;
    font-size: 10px;
    line-height: 11.72px;
    padding: 6px 11px;
    font-weight: 600;
  }
  @media screen and (min-width: 768px) {
    .announcement__close {
      font-size: 11px;
      line-height: 22px;
      padding: 2px 11px;
    }
  }
  .announcement__text {
    font-size: 10px;
    font-weight: 600;
    line-height: 11.72px;
  }
  @media screen and (min-width: 768px) {
    .announcement__text {
      font-size: 11px;
      line-height: 24px;
    }

  }
  .announcement_link_text {
    color: white;
    font-size: 10px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 10px
  }
  #shopify-section-{{ section.id }} .announcement_link_text:hover {
    color: white;
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    .announcement_link_text {
      font-size: 11px;
    }
  }
</style>

<script>
  const announcementTexts = document.querySelectorAll('.announcement__text');
  let announcementCount = 0;
  const announcementTimer = parseInt('{{ section.settings.autoplay_speed | times: 1000 }}'); 
  setInterval(() => {
    announcementTexts.forEach((announcementText, index) => {
      announcementText.classList.toggle('lf-hidden', announcementCount != index);
    });
    announcementCount++;
    if(announcementCount >= announcementTexts.length) announcementCount = 0;
  }, announcementTimer);
</script>

{% schema %}
{
  "name": "t:sections.header.settings.header_announcement_bar",
  "settings": [
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay Speed",
      "min": 3,
      "max": 10,
      "default": 5,
      "step": 1,
      "unit": "S"
    }
  ],
  "blocks": [
    {
      "type": "bar_item",
      "name": "Bar Item",
      "settings": [
        {
          "type": "richtext",
          "id": "announcement_text",
          "label": "t:sections.header.settings.announcement_text.label",
          "default": "<p>Free shipping and returns</p>"
        }
      ]
    }
  ]
}
{% endschema %}
