{% style %}
    .section--{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    @media (max-width: 768px) {
        .section--{{ section.id }} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
{% endstyle %}
<div class="section--{{ section.id }}">
    <div class="page-width">
        {% if section.settings.heading != blank %}
            <div class="section-header text-center">
                <h2 class="section-header__title">{{ section.settings.heading }}</h2>
            </div>
        {% endif %}
        <div class="logo-grid" data-block-size="{{ section.blocks.size }}">
            {% for block in section.blocks %}
                <div class="logo-grid-item">
                    <div class="logo-grid__image">
                        {%- render 'image-element',
                            img: block.settings.image,
                            widths: '180, 360, 540, 720, 900, 1080',
                            alt: article.title,
                            sizeVariable: '33vw'
                        -%}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Logo Grid",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "PARTNERS"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Desk Padding Top",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Desk Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "label": "Mobile Padding Top",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "label": "Mobile Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50,
            "unit": "px"
        }
    ],
    "blocks": [
        {
            "type": "icon",
            "name": "Icon",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Icon Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logo Grid"
        }
    ]
}
{% endschema %}