{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div
  class="text-with-icons"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
>
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <div
        class="
          text-with-icons__title
          section-header
        "
      >
        <h2 class="text-{{ section.settings.align_text }}">{{ section.settings.title }}</h2>
      </div>
    {%- endif -%}
    <div
      class="
        text-with-icons__blocks
        has-{{ section.settings.desktop_columns_per_row }}-per-row
      "
      data-block-count="{{ section.blocks.size }}"
    >
      {% for block in section.blocks %}
        <div class="text-with-icons__block text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="text-with-icons__block-icon">
            {% case block.settings.icon %}
              {% when 'free_shipping' %}
                <svg
                  class="custom-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="150"
                  height="150"
                  viewBox="0 0 70 70"
                  fill="none"
                >
                  <path d="M50.4991 12.7603C50.3055 12.5822 50.0268 12.5203 49.7713 12.59L49.152 12.7603L48.1301 13.039L24.5174 19.488C24.262 19.5576 24.0607 19.7512 23.9833 20.0067L17.9369 39.5316L17.4027 41.2503C17.3175 41.5367 17.4027 41.8464 17.6195 42.0554L18.9511 43.2632L34.0786 56.9895C34.2722 57.1675 34.5509 57.2295 34.8064 57.1598L58.4112 50.7108L60.0602 50.2618C60.3157 50.1921 60.517 49.9986 60.5944 49.7431L61.1441 47.9547L67.1673 28.5072C67.2524 28.2208 67.1673 27.9033 66.9505 27.7021L50.4991 12.7603ZM27.5832 22.6621L45.4049 17.7925C45.9933 17.6299 46.5275 18.1873 46.3494 18.768L42.0759 32.5562C41.9985 32.8117 41.7972 33.0052 41.5418 33.0749L23.72 37.9445C23.1316 38.1071 22.5975 37.5497 22.7755 36.969L27.049 23.1808C27.1264 22.9253 27.3277 22.7318 27.5832 22.6621ZM35.116 52.6927L24.4323 42.9999C23.9833 42.5896 24.1613 41.8387 24.7497 41.6761L42.5792 36.8065C42.8346 36.7368 43.1056 36.8065 43.2992 36.9768L44.8707 38.4013L53.9829 46.6773C54.4319 47.0876 54.2539 47.8386 53.6655 47.9934L35.8438 52.8631C35.5883 52.9327 35.3173 52.8631 35.116 52.6927ZM57.0874 44.2696L46.0785 34.2749C45.854 34.0736 45.7688 33.7639 45.8617 33.4697L50.2591 19.2634C50.4294 18.7215 51.1029 18.5357 51.521 18.9228L62.5376 28.9175C62.7621 29.1188 62.8473 29.4362 62.7544 29.7227L58.3493 43.929C58.179 44.4709 57.5054 44.6567 57.0874 44.2696Z" fill="#1B2831"/>
                  <path d="M38.236 19.1086L36.2773 25.4414C36.1999 25.6969 35.9986 25.8905 35.7432 25.9601L33.0877 26.6879C32.4993 26.8504 31.9651 26.293 32.1432 25.7124L34.1019 19.3796C34.1793 19.1241 34.3806 18.9305 34.6361 18.8609L37.2915 18.1331C37.8799 17.9705 38.4141 18.528 38.236 19.1086Z" fill="#1B2831"/>
                  <path d="M24.3088 29.3357L14.4999 32.0144C14.0044 32.146 13.5244 31.7744 13.5244 31.2712V29.0028C13.5244 28.6544 13.7567 28.3448 14.0973 28.2596L23.9062 25.5809C24.4017 25.4493 24.8817 25.8209 24.8817 26.3241V28.5925C24.8817 28.9409 24.6494 29.2505 24.3088 29.3357Z" fill="#1B2831"/>
                  <path d="M20.4842 40.9248L4.21082 45.3686C3.71535 45.5002 3.23535 45.1286 3.23535 44.6254V42.3571C3.23535 42.0087 3.46761 41.699 3.80825 41.6138L20.0816 37.17C20.5771 37.0384 21.0571 37.41 21.0571 37.9132V40.1816C21.0571 40.53 20.8248 40.8397 20.4842 40.9248Z" fill="#1B2831"/>
                  <path d="M27.2507 49.7044L12.4638 53.7379C11.9683 53.8695 11.4883 53.4979 11.4883 52.9946V50.7263C11.4883 50.3779 11.7205 50.0682 12.0612 49.9831L26.8481 45.9496C27.3436 45.818 27.8236 46.1896 27.8236 46.6928V48.9611C27.8236 49.3095 27.5913 49.6192 27.2507 49.7044Z" fill="#1B2831"/>
                </svg>
              {% when 'returns' %}
                <svg
                  class="custom-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="150"
                  height="150"
                  viewBox="0 0 150 150"
                  fill="none"
                >
                  <path d="M118.458 81.695L65.394 96.3186C64.247 96.6412 63.118 95.7809 63.118 94.5982V89.3473C63.118 88.5409 63.6556 87.8419 64.4262 87.6269L109.48 75.2077C110.25 74.9926 110.788 74.2937 110.788 73.4872V34.2224C110.788 33.0396 109.659 32.1794 108.512 32.5019L32.276 53.5233C31.129 53.8458 30 52.9856 30 51.8028V46.552C30 45.7455 30.5376 45.0466 31.3082 44.8316L117.508 21.0683C118.655 20.7458 119.784 21.606 119.784 22.7888V79.9567C119.784 80.7632 119.247 81.4621 118.476 81.6771L118.458 81.695Z" fill="#1B2831"/>
                  <path d="M65.215 103.182L54.6774 97.0712C53.7097 96.5157 53.4946 95.2254 54.2115 94.3651L64.749 81.8921C65.8243 80.6198 67.9031 81.3724 67.9031 83.057V101.641C67.9031 103.021 66.3977 103.881 65.215 103.182Z" fill="#1B2831"/>
                  <path d="M118.458 106.193L32.276 129.938C31.129 130.261 30 129.401 30 128.218V71.0499C30 70.2435 30.5376 69.5445 31.3082 69.3295L82.2218 55.2973C83.3687 54.9748 84.4977 55.835 84.4977 57.0178V62.2686C84.4977 63.0751 83.9601 63.774 83.1895 63.989L40.2866 75.8169C39.516 76.0319 38.9784 76.7309 38.9784 77.5373V116.784C38.9784 117.967 40.1074 118.827 41.2544 118.505L117.544 97.4834C118.691 97.1608 119.82 98.021 119.82 99.2038V104.455C119.82 105.261 119.282 105.96 118.512 106.175L118.458 106.193Z" fill="#1B2831"/>
                  <path d="M84.569 47.8244L95.1066 53.9355C96.0743 54.491 96.2893 55.7813 95.5725 56.6415L85.035 69.1145C83.9597 70.3869 81.8809 69.6343 81.8809 67.9497V49.3656C81.8809 47.9857 83.3862 47.1255 84.569 47.8244Z" fill="#1B2831"/>
                </svg>
              {% when 'tested' %}
                <svg
                  class="custom-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="150"
                  height="150"
                  viewBox="0 0 150 150"
                  fill="none"
                >
                  <path d="M112.383 28.5942C102.097 20.8654 88.406 18.9626 73.8255 23.2227C45.5201 31.5072 22.5 61.429 22.5 89.8858C22.5 103.811 27.8691 115.531 37.6342 122.889C44.3289 127.924 52.4664 130.5 61.3591 130.5C66.1242 130.5 71.0906 129.759 76.1745 128.277C104.48 119.993 127.5 90.0879 127.5 61.6142C127.5 47.672 122.131 35.9525 112.366 28.611L112.383 28.5942ZM30.8893 89.8858C30.8893 89.5322 30.906 89.1786 30.9228 88.825L75.0168 75.91V31.6924C75.4027 31.5746 75.8054 31.4399 76.1913 31.322C80.4866 30.0591 84.6644 29.4361 88.6409 29.4361C95.7383 29.4361 102.148 31.423 107.366 35.3464C114.95 41.0546 119.144 50.383 119.144 61.6142C119.144 62.0857 119.128 62.5572 119.111 63.0286L75.0336 75.9268V119.808C74.6476 119.926 74.245 120.06 73.8591 120.178C61.8792 123.68 50.8221 122.249 42.7013 116.137C35.1007 110.429 30.9228 101.1 30.9228 89.869L30.8893 89.8858Z" fill="#1B2831"/>
                </svg>
              {% when 'eu_made' %}
                <svg
                  class="custom-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="150"
                  height="150"
                  viewBox="0 0 150 150"
                  fill="none"
                >
                  <path d="M75.8148 22.0094C75.7178 21.7359 75.3277 21.7457 75.2446 22.0238L73.8222 26.7822C73.7925 26.8815 73.7138 26.9584 73.6138 26.9857L68.9795 28.2518C68.7085 28.3258 68.6788 28.6984 68.9347 28.8144L72.4706 30.4177C72.6072 30.4796 72.6771 30.6331 72.6341 30.7768L71.3153 35.1885C71.2262 35.4868 71.5943 35.7067 71.8147 35.4867L75.3612 31.9465C75.4494 31.8585 75.5829 31.8341 75.6965 31.8854L79.3823 33.5495C79.6232 33.6583 79.8768 33.4249 79.7885 33.1758L78.3695 29.1746C78.3309 29.0659 78.3582 28.9446 78.4396 28.8628L82.0292 25.2542C82.2459 25.0363 82.0338 24.6723 81.7374 24.7532L77.4938 25.9126C77.3423 25.954 77.1845 25.8715 77.132 25.7235L75.8148 22.0094Z" fill="#1B2831"/>
                  <path d="M77.4941 118.445C77.3424 118.487 77.1846 118.404 77.1322 118.256L75.8149 114.529C75.7181 114.255 75.3275 114.265 75.2445 114.543L73.8221 119.315C73.7925 119.414 73.7137 119.491 73.6137 119.518L68.9795 120.784C68.7085 120.858 68.6788 121.231 68.9347 121.347L72.4706 122.95C72.6072 123.012 72.6771 123.166 72.6341 123.309L71.3166 127.717C71.2273 128.015 71.5962 128.235 71.8163 128.015L75.3607 124.464C75.4491 124.376 75.5833 124.351 75.6972 124.403L79.3815 126.079C79.6223 126.189 79.8767 125.956 79.7886 125.706L78.3694 121.691C78.3309 121.583 78.3583 121.461 78.4399 121.38L82.025 117.788C82.2423 117.57 82.0303 117.206 81.7336 117.287L77.4941 118.445Z" fill="#1B2831"/>
                  <path d="M29.1682 90.8848C29.2563 90.7966 29.3899 90.772 29.5036 90.8232L33.2033 92.4877C33.4445 92.5963 33.6979 92.3621 33.6088 92.113L32.1772 88.1133C32.1381 88.0042 32.1654 87.8823 32.2473 87.8003L35.8477 84.1936C36.065 83.9759 35.853 83.6112 35.5563 83.6923L31.3158 84.8508C31.1646 84.8921 31.0071 84.8101 30.9543 84.6625L29.624 80.9459C29.5262 80.6728 29.1363 80.6837 29.0539 80.9618L27.6447 85.7196C27.6152 85.8192 27.5363 85.8964 27.4361 85.9238L22.8023 87.1898C22.5312 87.2638 22.5016 87.6364 22.7574 87.7524L26.2933 89.3557C26.43 89.4176 26.4998 89.571 26.4569 89.7148L25.1394 94.1223C25.0501 94.4209 25.4189 94.6407 25.6391 94.4201L29.1682 90.8848Z" fill="#1B2831"/>
                  <path d="M52.7264 34.5455C52.6295 34.2721 52.2394 34.2819 52.1563 34.5599L50.7338 39.3183C50.7042 39.4176 50.6254 39.4945 50.5255 39.5218L45.8911 40.7879C45.6201 40.862 45.5904 41.2345 45.8463 41.3506L49.3822 42.9538C49.5188 43.0158 49.5887 43.1692 49.5457 43.313L48.227 47.7246C48.1378 48.0229 48.506 48.2428 48.7263 48.0229L52.2728 44.4827C52.361 44.3946 52.4945 44.3703 52.6082 44.4216L56.2913 46.0845C56.5326 46.1934 56.7864 45.9592 56.6972 45.71L55.2661 41.7115C55.227 41.6024 55.2543 41.4805 55.3362 41.3985L58.9366 37.7918C59.1539 37.5741 58.9419 37.2094 58.6452 37.2904L54.4054 38.4488C54.2539 38.4901 54.0961 38.4077 54.0436 38.2596L52.7264 34.5455Z" fill="#1B2831"/>
                  <path d="M35.8092 56.1138C35.7116 55.8404 35.3214 55.8511 35.239 56.1294L33.8301 60.8861C33.8007 60.9854 33.7221 61.0625 33.6223 61.0901L28.9876 62.3695C28.7167 62.4443 28.6881 62.817 28.9443 62.9323L32.478 64.5221C32.6151 64.5838 32.6854 64.7374 32.6424 64.8814L31.3248 69.3015C31.2357 69.6004 31.605 69.8199 31.825 69.5988L35.3533 66.0519C35.4416 65.9631 35.5758 65.9385 35.6898 65.9902L39.388 67.667C39.6291 67.7764 39.8834 67.5424 39.7944 67.293L38.3625 63.2792C38.3236 63.1702 38.3509 63.0484 38.4327 62.9665L42.029 59.3639C42.2466 59.1459 42.0337 58.7808 41.7368 58.8628L37.5021 60.0318C37.3506 60.0736 37.1925 59.9914 37.1397 59.8434L35.8092 56.1138Z" fill="#1B2831"/>
                  <path d="M37.5016 106.291C37.3503 106.333 37.1927 106.251 37.14 106.103L35.8096 102.374C35.712 102.1 35.3216 102.111 35.2393 102.389L33.8302 107.16C33.8007 107.26 33.7218 107.337 33.6215 107.365L28.9878 108.631C28.7168 108.705 28.6871 109.077 28.943 109.193L32.4789 110.796C32.6155 110.858 32.6854 111.012 32.6424 111.156L31.3262 115.559C31.2368 115.858 31.6063 116.077 31.8263 115.856L35.3533 112.311C35.4416 112.222 35.5758 112.197 35.6898 112.249L39.388 113.926C39.6291 114.035 39.8834 113.801 39.7944 113.552L38.3626 109.538C38.3236 109.429 38.3511 109.307 38.4332 109.225L42.029 105.636C42.2469 105.418 42.035 105.053 41.738 105.134L37.5016 106.291Z" fill="#1B2831"/>
                  <path d="M54.4062 118.588C54.2544 118.63 54.096 118.547 54.0435 118.399L52.7261 114.671C52.6293 114.398 52.2389 114.407 52.1558 114.685L50.7337 119.443C50.7041 119.542 50.6257 119.619 50.5261 119.646L45.8909 120.926C45.62 121 45.5914 121.373 45.8476 121.488L49.3813 123.078C49.5184 123.14 49.5887 123.294 49.5457 123.438L48.2268 127.862C48.1378 128.16 48.5065 128.38 48.7266 128.16L52.2723 124.608C52.3607 124.519 52.4949 124.495 52.6089 124.547L56.2905 126.222C56.5317 126.332 56.7863 126.098 56.6973 125.848L55.2658 121.835C55.2269 121.726 55.2542 121.605 55.3361 121.523L58.9323 117.92C59.1499 117.702 58.937 117.337 58.6402 117.419L54.4062 118.588Z" fill="#1B2831"/>
                  <path d="M128.201 58.8513C128.419 58.6336 128.206 58.2688 127.91 58.3501L123.687 59.5071C123.535 59.5485 123.378 59.4663 123.325 59.3185L121.993 55.5858C121.896 55.3127 121.506 55.323 121.423 55.6009L120 60.3767C119.97 60.476 119.891 60.553 119.791 60.5803L115.17 61.8465C114.899 61.9206 114.87 62.2926 115.125 62.4089L118.648 64.0121C118.785 64.0741 118.855 64.2274 118.812 64.371L117.494 68.7788C117.405 69.0774 117.774 69.2972 117.994 69.0767L121.538 65.5259C121.627 65.4374 121.761 65.413 121.875 65.4647L125.573 67.1416C125.814 67.251 126.068 67.017 125.979 66.7676L124.548 62.7538C124.509 62.6448 124.536 62.523 124.618 62.4411L128.201 58.8513Z" fill="#1B2831"/>
                  <path d="M98.9043 21.8625C98.8069 21.5895 98.4174 21.5997 98.3343 21.8774L96.9109 26.6391C96.8813 26.7381 96.8029 26.8149 96.7033 26.8424L92.0681 28.122C91.7973 28.1967 91.7686 28.5694 92.0249 28.6847L95.5586 30.2746C95.6957 30.3363 95.7659 30.4898 95.723 30.6339L94.4041 35.0582C94.3151 35.3567 94.6838 35.5763 94.9039 35.3558L98.4495 31.804C98.538 31.7154 98.6722 31.691 98.7861 31.7429L102.47 33.4193C102.711 33.5288 102.966 33.2957 102.877 33.0462L101.458 29.0309C101.42 28.9222 101.447 28.8011 101.528 28.7194L105.113 25.1161C105.33 24.8979 105.117 24.5333 104.82 24.6154L100.599 25.784C100.447 25.8259 100.289 25.7438 100.236 25.5957L98.9043 21.8625Z" fill="#1B2831"/>
                  <path d="M112.463 42.5713C112.599 42.6334 112.669 42.7867 112.626 42.9303L111.307 47.3423C111.218 47.6406 111.586 47.8605 111.807 47.6405L115.353 44.1008C115.441 44.0125 115.575 43.9883 115.689 44.0401L119.373 45.7166C119.614 45.8262 119.869 45.593 119.78 45.3436L118.361 41.3283C118.323 41.2196 118.35 41.0985 118.431 41.0167L122.016 37.4135C122.233 37.1952 122.02 36.8306 121.723 36.9128L117.502 38.0813C117.35 38.1233 117.192 38.0411 117.139 37.893L115.807 34.1599C115.71 33.8869 115.32 33.897 115.237 34.1748L113.814 38.9362C113.784 39.0353 113.706 39.1122 113.606 39.1396L108.985 40.4057C108.714 40.4799 108.684 40.8519 108.94 40.9681L112.463 42.5713Z" fill="#1B2831"/>
                  <path d="M117.502 84.3396C117.35 84.3816 117.192 84.2994 117.139 84.1513L115.807 80.4182C115.71 80.1452 115.32 80.1553 115.237 80.4331L113.814 85.195C113.784 85.2939 113.706 85.3706 113.607 85.3982L108.981 86.6788C108.711 86.7535 108.681 87.1249 108.936 87.2409L112.463 88.8456C112.599 88.9076 112.669 89.0609 112.626 89.2045L111.309 93.6123C111.219 93.9109 111.588 94.1307 111.808 93.9102L115.353 90.3596C115.441 90.271 115.575 90.2467 115.689 90.2985L119.373 91.9749C119.614 92.0845 119.869 91.8514 119.78 91.6019L118.361 87.5866C118.323 87.4779 118.35 87.3568 118.431 87.275L122.016 83.6718C122.233 83.4535 122.02 83.0889 121.723 83.1711L117.502 84.3396Z" fill="#1B2831"/>
                  <path d="M100.598 105.909C100.447 105.95 100.289 105.868 100.236 105.72L98.9047 101.988C98.8073 101.715 98.4175 101.725 98.3347 102.003L96.911 106.778C96.8814 106.878 96.8026 106.955 96.7026 106.982L92.0684 108.248C91.7974 108.322 91.7677 108.695 92.0235 108.811L95.5594 110.414C95.6961 110.476 95.7659 110.629 95.723 110.773L94.4055 115.181C94.3162 115.479 94.685 115.699 94.9052 115.479L98.4495 111.928C98.538 111.839 98.6722 111.815 98.7861 111.867L102.47 113.543C102.711 113.653 102.966 113.42 102.877 113.17L101.458 109.155C101.42 109.046 101.447 108.925 101.529 108.843L105.113 105.253C105.33 105.035 105.118 104.671 104.821 104.752L100.598 105.909Z" fill="#1B2831"/>
                  <path d="M88.3477 61.5625C88.3477 61.0102 88.7954 60.5625 89.3477 60.5625H92.582C93.1343 60.5625 93.582 61.0102 93.582 61.5625V80.2109C93.582 82.3854 93.1784 84.1497 92.3711 85.5039C91.5638 86.8581 90.4635 87.8477 89.0703 88.4727C87.6771 89.0846 86.1081 89.3906 84.3633 89.3906C82.5794 89.3906 80.9909 89.0846 79.5977 88.4727C78.2044 87.8477 77.1107 86.8581 76.3164 85.5039C75.5352 84.1497 75.1445 82.3854 75.1445 80.2109V61.5625C75.1445 61.0102 75.5922 60.5625 76.1445 60.5625H79.3594C79.9117 60.5625 80.3594 61.0102 80.3594 61.5625V80.2109C80.3594 81.5 80.5156 82.4961 80.8281 83.1992C81.1536 83.9023 81.6094 84.3841 82.1953 84.6445C82.7812 84.9049 83.5039 85.0352 84.3633 85.0352C85.2227 85.0352 85.9453 84.9049 86.5312 84.6445C87.1172 84.3841 87.5664 83.9023 87.8789 83.1992C88.1914 82.4961 88.3477 81.5 88.3477 80.2109V61.5625Z" fill="#1B2831"/>
                  <path d="M70.8242 84.6445C71.3765 84.6445 71.8242 85.0922 71.8242 85.6445V88C71.8242 88.5523 71.3765 89 70.8242 89H60.4805C59.9282 89 59.4805 88.5523 59.4805 88V85.6445C59.4805 85.0922 59.9282 84.6445 60.4805 84.6445H70.8242ZM59.9844 60.5625C60.5367 60.5625 60.9844 61.0102 60.9844 61.5625V88C60.9844 88.5523 60.5367 89 59.9844 89H56.75C56.1977 89 55.75 88.5523 55.75 88V61.5625C55.75 61.0102 56.1977 60.5625 56.75 60.5625H59.9844ZM69.1641 72.2422C69.7163 72.2422 70.1641 72.6899 70.1641 73.2422V75.4805C70.1641 76.0328 69.7163 76.4805 69.1641 76.4805H60.4805C59.9282 76.4805 59.4805 76.0328 59.4805 75.4805V73.2422C59.4805 72.6899 59.9282 72.2422 60.4805 72.2422H69.1641ZM70.7461 60.5625C71.2984 60.5625 71.7461 61.0102 71.7461 61.5625V63.9375C71.7461 64.4898 71.2984 64.9375 70.7461 64.9375H60.4805C59.9282 64.9375 59.4805 64.4898 59.4805 63.9375V61.5625C59.4805 61.0102 59.9282 60.5625 60.4805 60.5625H70.7461Z" fill="#1B2831"/>
                </svg>
              {% when 'bills' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-bills"
                  viewBox="0 0 100 100"
                >
                  <path d="M16.96 11.72h66.08v70.76l-6.62 5.8-6.61-5.8-6.61 5.8-6.61-5.8-6.61 5.8-6.6-5.8-6.61 5.8-6.61-5.8-6.6 5.8-6.6-5.8V11.72zm7.01 22.88h49.36M23.97 46.28h49.01M23.97 57.96h28.57M23.97 69.64h28.57"/><path d="M61.63 66.87c0 2.69 4.18 2.51 4.18 2.51s4.19.27 4.19-3.23c0-2.27-4.16-2.25-4.16-2.25-4.85 0-4.16-3.33-4.16-3.33 0-3.74 4.22-3.43 4.22-3.43 4.51 0 4.08 3.43 4.08 3.43m-4.18-7.54v20.46M23.97 23.41h49.36"/>
                </svg>
              {% when 'calendar' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-calendar"
                  viewBox="0 0 100 100"
                >
                  <path d="M21.3 17.08v10.14m14.22-10.14v10.14m14.22-10.14v10.14m14.23-10.14v10.14m14.22-10.14v10.14m-65.56 5.01h74.74M12.63 22.15h74.74v60.77H12.63z"/><path d="M21.05 38.72h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47z"/><path d="M21.05 51.48h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47zM21.05 64.25h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47z"/>
                </svg>
              {% when 'cart' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-cart"
                  viewBox="0 0 100 100"
                >
                  <path d="M26.81 71.11h-.05"/><circle cx="42.66" cy="76.95" r="6.73"/><circle cx="72.7" cy="76.95" r="6.73"/><path d="M38.99 59.17 23.7 16.32H11.36"/><path d="M27.26 26.3h61.38L77 59.17H39a5.53 5.53 0 0 0-5.53 5.53A5.53 5.53 0 0 0 39 70.22h43.87M57.95 59.17V26.3m-9.12 32.87L42.61 26.3m24.46 32.87L73.3 26.3m11.78 10.04H30.84m49.84 12.39H35.27"/>
                </svg>
              {% when 'charity' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-charity"
                  viewBox="0 0 100 100"
                >
                  <path d="m63.41 68 21-10.58a4.16 4.16 0 0 1 5.67 2 4.17 4.17 0 0 1-1.93 5.39L54 82a3.35 3.35 0 0 1-2.16.25L39 75.82l-7.31 3.06m-8.93 7.79L9.6 55.92l10.24-4.64 13.17 30.75-10.25 4.64z"/><path d="m23.17 58.17 8.79-4a9.51 9.51 0 0 1 6.88-.37l22.25 7.31A4.52 4.52 0 0 1 63.41 68a4.51 4.51 0 0 1-5 1.77L43.8 65.32m35.57-48.38a12.34 12.34 0 0 0-17.44 0l-.79.79-.78-.79a12.34 12.34 0 1 0-17.44 17.45l.78.78 17.44 17.45 17.45-17.45.78-.78a12.34 12.34 0 0 0 0-17.45Z"/>
                </svg>
              {% when 'chat' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-chat"
                  viewBox="0 0 100 100"
                >
                  <path d="M88.78 28.25v47.18h-9.42v10.58L62.91 75.43H32.55V28.25h56.23zM41.85 42.53h37.51m-37.51 9.3h37.51m-37.51 9.31h26.58"/><path d="M67.45 13.99v14.26h-34.9v35.83l-11.91 7.67V61.16h-9.42V13.99h56.23z"/>
                </svg>
              {% when 'envelope' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-open-envelope"
                  viewBox="0 0 100 100"
                >
                  <path d="M78.33 51.24V13H21.59v38.22m10.34-26.63h36.26M31.93 34.4h36.26m-36.26 9.8h36.26"/><path d="m78.41 39.02 8.93 6.88v41.06H12.66V45.9l8.93-6.88"/><path d="m87.26 45.9-37.3 22.79-37.3-22.79m0 41.06 29.82-22.84m44.86 22.84L57.52 64.12"/>
                </svg>
              {% when 'gears' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-gears"
                  viewBox="0 0 100 100"
                >
                  <path d="M51.11 53a18.75 18.75 0 0 0 .67-3.35l6.37-1.51L55.27 36l-6.37 1.56a18.51 18.51 0 0 0-4.68-5l1.87-6.28-11.9-3.55L32.32 29a18.68 18.68 0 0 0-6.62 1.59l-4.5-4.76-9 8.53 4.5 4.76a18.36 18.36 0 0 0-2 6.52l-6.35 1.57 2.88 12.08 6.37-1.51a18.62 18.62 0 0 0 4.67 4.95L20.4 69l11.91 3.55 1.87-6.27a18.67 18.67 0 0 0 6.62-1.58l4.5 4.76 9-8.53-4.5-4.76A19.38 19.38 0 0 0 51.11 53Z"/><circle cx="33.25" cy="47.67" r="9.13"/><path d="M84.49 35.6a11.31 11.31 0 0 0 .88-1.91h4v-7.63h-4a11.44 11.44 0 0 0-2.09-3.62l2-3.48-6.61-3.81-2 3.48a11.3 11.3 0 0 0-4.18 0l-2-3.48L63.86 19l2 3.49a11.22 11.22 0 0 0-1.22 1.71 12.09 12.09 0 0 0-.87 1.91h-4v7.63h4a11.63 11.63 0 0 0 2.09 3.62l-2 3.48 6.61 3.81 2-3.48a11.3 11.3 0 0 0 4.18 0l2 3.48 6.6-3.81-2-3.49a11.17 11.17 0 0 0 1.24-1.75Z"/><circle cx="74.58" cy="29.89" r="5.61"/><path d="M86.57 70.8a13.56 13.56 0 0 0 .49-2.41l4.59-1.08-2.05-8.7-4.6 1.08a13.3 13.3 0 0 0-3.36-3.58L83 51.6 74.45 49l-1.36 4.51a13.38 13.38 0 0 0-4.77 1.13l-3.23-3.44-6.52 6.13 3.23 3.43a13.19 13.19 0 0 0-.92 2.29 13.56 13.56 0 0 0-.49 2.41l-4.59 1.1 2.05 8.7 4.59-1.08a13.42 13.42 0 0 0 3.35 3.58l-1.35 4.51L73 84.85l1.36-4.51a13.38 13.38 0 0 0 4.77-1.13l3.23 3.44 6.52-6.13-3.23-3.44a12.78 12.78 0 0 0 .92-2.28Z"/><circle cx="73.72" cy="66.93" r="6.58"/>
                </svg>
              {% when 'gift' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-gift"
                  viewBox="0 0 100 100"
                >
                  <path d="M13.35 30.07h73.29v15.11H13.35zm4.53 15.11h64.23V87.5H17.88zM50 30.07V87.5M29.63 15.42a6.59 6.59 0 0 0-.81 4.33 7.75 7.75 0 0 0 1.39 3.94c2.48 2.65 8 5.94 19.88 6.38a21 21 0 0 0-4.26-12.2A13.13 13.13 0 0 0 36 12.51c-2.37-.09-4.89.49-6.37 2.91Z"/><path d="M69.9 14.75a6.55 6.55 0 0 1 1.29 5 8 8 0 0 1-1.39 4c-2.49 2.65-8 5.94-19.89 6.38a20.93 20.93 0 0 1 4.22-12.14A13.12 13.12 0 0 1 64 12.51a6.94 6.94 0 0 1 5.9 2.24Z"/>
                </svg>
              {% when 'globe' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-globe"
                  viewBox="0 0 100 100"
                >
                  <path d="M82.19 69.25a13.09 13.09 0 0 1-3.54-3 1.86 1.86 0 0 1 0-2.38c1.29-1.52 3.08-5-4.17-7.52a5.28 5.28 0 0 0-2.24 0 12.36 12.36 0 0 1-5.49 0 9.78 9.78 0 0 1-4.1-2.16c-.23-.2-.44-.41-.65-.63a10.08 10.08 0 0 1-2.17-10l.15-.46a8.09 8.09 0 0 0-3.92-9.55l-1.83-1c-3.54-1.58-5.69-3.88-6.39-6.83-1-4-.14-7.55 4.46-13.15M32 17.1a13 13 0 0 1 3.52 7.23 9.74 9.74 0 0 1-.52 4.76 11.74 11.74 0 0 1-2.16 3.61 10.49 10.49 0 0 0-1.72 2.73c-.62 1.51-1.12 3.44-.61 4.91a4 4 0 0 0 2.75 2.33c.25.08.52.16.8.23a5.11 5.11 0 0 1 4.24 4.65c.13 2-.82 4.29-2.68 6.44a17.84 17.84 0 0 1-6.76 4.78A15.87 15.87 0 0 1 23 59.93a14.39 14.39 0 0 1-3.14-.35c-3.45-.77-3.73-1.39-6.86-3.58m19.12 27c-.18-2.75-2.68-8.09.69-13.4a22.33 22.33 0 0 1 8.36-7.36c3.48-1.79 6.77-2.37 9-1.58a4.61 4.61 0 0 1 3.08 5.12v.83a4 4 0 0 0 1.21 3.3c1.49 1.26 4.42 1.3 6.66.91a2.55 2.55 0 0 0 .59-.18A12.09 12.09 0 0 1 67 69.43a9.74 9.74 0 0 1 4.51 1.2 12.61 12.61 0 0 1 5.41 5.51"/><circle cx="50" cy="50" r="37.5"/>
                </svg>
              {% when 'package' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-package"
                  viewBox="0 0 100 100"
                >
                  <path d="M50 89.87 15.33 69.86V30.08l34.78-19.95 34.56 19.95v39.78L50 89.87z"/><path d="M67.33 50.78V40.09L32.76 20.14m-17.43 9.94L50 50.09"/><path d="M50 89.87V50.09l34.67-20.01"/>
                </svg>
              {% when 'phone' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-phone"
                  viewBox="0 0 100 100"
                >
                  <path d="M80.63 63.49 67.77 59.9a6.69 6.69 0 0 0-.75-.16h-.33a5.65 5.65 0 0 0-4.43 1.5l-3.95 3.66-.2.2c-.31.32-1.89 1.75-4.34.05l-.22-.15a73.21 73.21 0 0 1-19.1-19.2s-1.35-2 .17-3.56l4.24-4.48.17-.17c.3-.29 1.69-1.87.92-5.22l-3.37-12.71a5.77 5.77 0 0 0-1-2.1 5.31 5.31 0 0 0-3.16-1.95h-.25a22.6 22.6 0 0 0-6.35-.5 5.69 5.69 0 0 0-1.8.55 16.31 16.31 0 0 0-9 14.7 44 44 0 0 0 2 12 54.47 54.47 0 0 0 9.2 16.66s9.33 12.22 21.66 19.57a63.37 63.37 0 0 0 14.8 5.93s7 1.65 12.59-.54c0 0 7-2.43 9.5-8.56a5.37 5.37 0 0 0 .39-1.85 21.32 21.32 0 0 0-.77-5.8s-1.04-3.55-3.76-4.28Z"/>
                </svg>
              {% when 'plant' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-plant"
                  viewBox="0 0 100 100"
                >
                  <path d="M15.33 86.58h69.34s-30.67-40.37-69.34 0Z"/><path d="M43.15 46.69s9 8.83 9.27 22m29.64-55.26s-27.38-1.32-25.37 25.16c0 0 23 5.54 25.37-25.16Zm0 0L56.69 38.59m6.5-6.42 13.16-.45m-6.3-6.37 9.7-.34m-16.56 7.16.45-13.07m6.41 6.25.34-9.91"/><path d="M50.64 59.11a32.68 32.68 0 0 1 6-20.52M18 21.31S16.67 48.7 43.15 46.69c0 0 5.54-23-25.15-25.38Zm-.01 0 25.16 25.38m-6.42-6.5-.45-13.16m-6.37 6.3-.34-9.7m7.16 16.56-13.08-.45m6.26-6.41L20 32.99"/>
                </svg>
              {% when 'recycle' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-recycle"
                  viewBox="0 0 100 100"
                >
                  <path d="M24 63.72h17.6v17.64h-6a12.87 12.87 0 0 1-11.57-7.24"/><path d="M24 63.72v.07a9.82 9.82 0 0 0-1.2 4.71 12.73 12.73 0 0 0 1.27 5.58l-10.21-20-.62-1.22a9.59 9.59 0 0 1-.58-2 9.27 9.27 0 0 1 1-6.12l2.51-4.58-3.36-1.81 8.07-1.55 8.07-1.54 3.12 7.59 3.13 7.6-3-1.62Zm25-44.44-8 15.66-15.72-8 2.7-5.3a12.87 12.87 0 0 1 11.7-7h.05"/><path d="M49 19.28v-.07A9.78 9.78 0 0 0 45.32 16a12.78 12.78 0 0 0-5.55-1.4h23.82a9.77 9.77 0 0 1 2 .38 9.24 9.24 0 0 1 5 3.66l2.94 4.31 3.14-2.17-2.27 7.87-2.29 7.9-8.18-.67-8.19-.66 2.8-1.94ZM76 63.5 67.6 48l15.53-8.38L86 44.89a12.86 12.86 0 0 1-.87 13.62"/><path d="M76 63.5a9.82 9.82 0 0 0 4.71-1.18 12.78 12.78 0 0 0 4.3-3.77L72.31 77l-.78 1.12a9 9 0 0 1-1.45 1.44 9.27 9.27 0 0 1-5.85 2L59 81.6v3.82l-5.2-6.36-5.2-6.37 5.21-6.35L59 60v3.41Z"/>
                </svg>
              {% when 'ribbon' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-ribbon"
                  viewBox="0 0 100 100"
                >
                  <path d="M44.18 67.51 30 89.72l-4.44-12.19-12.93 1.1 14.19-22.18a28.86 28.86 0 0 0 13.79 10.08 26.93 26.93 0 0 0 3 .85Zm43.19 11.12-12.93-1.1L70 89.72 55.81 67.51l.63-.13a26.76 26.76 0 0 0 2.94-.85 28.8 28.8 0 0 0 13.8-10.08Z"/><path d="M78.92 39.19a28.82 28.82 0 0 1-3.61 14 30 30 0 0 1-1.74 2.73 5 5 0 0 1-.39.52 28.8 28.8 0 0 1-13.79 10.09 26.76 26.76 0 0 1-2.94.85l-.63.13a29 29 0 0 1-11.63 0l-.62-.13a26.93 26.93 0 0 1-3-.85 28.86 28.86 0 0 1-13.75-10.08c-.13-.17-.26-.34-.38-.52q-.93-1.32-1.74-2.73a28.92 28.92 0 1 1 54.22-14Z"/><path d="m56.95 42.84 1.63 9.55L50 47.88l-8.58 4.51 1.64-9.55-6.95-6.77 9.6-1.39 4.29-8.7 4.29 8.7 9.6 1.39-6.94 6.77z"/>
                </svg>
              {% when 'sales-tag' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-sales-tag"
                  viewBox="0 0 100 100"
                >
                  <path d="m69.33 23.02-16.5.11L12.5 63.46l27.35 27.22 40.33-40.33.04-16.43-10.89-10.9z"/><circle cx="65.05" cy="38.2" r="5.51"/><path d="M71 24.67c3.46-6 7.64-11.82 10.22-13.91a4.93 4.93 0 0 1 3.52-1.42 3.38 3.38 0 0 1 2.78 3.14c.21 8.33-17.56 23.19-17.56 23.19M19.09 56.91l27.34 27.22"/>
                </svg>
              {% when 'shield' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-shield"
                  viewBox="0 0 100 100"
                >
                  <path d="M51.18 7.63c5.54 3.1 17.09 8.07 34.33 8.07h1.07v23.72A56.14 56.14 0 0 1 80 66.07C73.58 78 63.89 85.62 51.18 88.83 38.48 85.62 28.79 78 22.36 66.06a56.08 56.08 0 0 1-6.58-26.64V15.7h1.07c17.25 0 28.8-4.97 34.33-8.07Z"/><path d="M66.15 37.87 45.43 58.59l-9.21-9.21"/>
                </svg>
              {% when 'stopwatch' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-stopwatch"
                  viewBox="0 0 100 100"
                >
                  <circle cx="60.82" cy="54.12" r="4.26"/><path d="M46.92 78.41a28 28 0 1 0-14.08-24.28"/><path d="M32.84 54.13a28 28 0 1 1 14.08 24.28m-12.78-9.04H11.19m27.51-6.72H23.4m15.3 13.44H23.4"/><path d="M32.84 54.13a28 28 0 1 1 14.08 24.28m13.9-61.47v14.24m-17.98 1.51 3.08 3.99M33.27 49.27l4.96.87m13.02 30.28 1.72-4.73m17.42 4.73-1.72-4.73m16.39-7.57L80.7 65.6m7.68-16.33-4.88 1.31m-4.69-17.89-3.08 4.03M60.82 49.87V39.6M54.4 16.94h12.84"/>
                </svg>
              {% when 'store' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-store"
                  viewBox="0 0 100 100"
                >
                  <path d="M83 50.49a6.61 6.61 0 0 1-6.61-6.61 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15v34.81h6.55V57.57H40v27.58h44.43V50.34a7 7 0 0 1-1.43.15Zm-4.31 25.08H46.56v-18h32.13Z"/><path d="M22.11 57.57h17.9v27.58h-17.9zm24.45 0H78.7v18H46.56z"/><path d="M22.11 57.57h17.9v27.58h-17.9zm24.45 0H78.7v18H46.56zM27 14.84l-3.43 19.37v9.67A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15 6.62 6.62 0 0 1-5.21-6.46v-9.67l5.21-19.37Z"/><path d="M36.78 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-9.67L27 14.84h11.52Z"/><path d="M50 14.84v29a6.61 6.61 0 1 1-13.21 0v-9.63l1.74-19.37Z"/><path d="M63.22 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-29h11.48Z"/><path d="M76.43 34.21v9.67a6.61 6.61 0 1 1-13.21 0v-9.67l-1.74-19.37H73Z"/><path d="M89.65 34.21v9.67a6.62 6.62 0 0 1-5.22 6.46 7 7 0 0 1-1.39.15 6.61 6.61 0 0 1-6.61-6.61v-9.67L73 14.84h11.44Z"/><circle cx="34.86" cy="74.25" r="1.52"/>
                </svg>
              {% when 'thumbs-up' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-thumbs-up"
                  viewBox="0 0 100 100"
                >
                  <path d="M16.01 54.13h20.02v35.22H16.01z"/><path d="m36 82.72 3.84 2.63a11.53 11.53 0 0 0 6.54 2h13.91M36 58.78l2.07-1.93A10.23 10.23 0 0 0 40.26 54l7.66-15a7.4 7.4 0 0 0 .81-3.36v-8.3a2.93 2.93 0 0 1 2.92-2.94c2.41 0 5.78 1 7.92 6.18a18.63 18.63 0 0 1 1 10.5l-1.29 6.94h19A4.91 4.91 0 0 1 83.16 53a4.91 4.91 0 0 1-4.91 4.92H59.6m3.08 9.8H76a4.91 4.91 0 0 1 4.91 4.92A4.91 4.91 0 0 1 76 77.55H65.65"/><path d="M65.65 77.55h6.12a4.92 4.92 0 0 1 4.92 4.92 4.93 4.93 0 0 1-4.92 4.92h-12.5m.33-29.5h19.47A4.92 4.92 0 0 1 84 62.81a4.91 4.91 0 0 1-4.92 4.91h-16.4m-9.49-47.66v-9.41m-5.86 11.47-6.05-7.22m2.87 12.56-9.27-1.64m27.16 1.86 9.27-1.64M59 22.26l6.05-7.21"/>
                </svg>
              {% when 'trophy' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-trophy"
                  viewBox="0 0 100 100"
                >
                  <path d="M33.62 87.94h32.76m4.79-37.86a8.85 8.85 0 0 0 3.21-.93c4.16-2.09 7.12-7.42 7.12-13.65V18.63H73M28.83 50.08a8.85 8.85 0 0 1-3.21-.93c-4.16-2.09-7.12-7.42-7.12-13.65V18.63H27M55.94 38.9l1.4 8.17L50 43.21l-7.34 3.86 1.4-8.17-5.94-5.79 8.21-1.19L50 24.48l3.67 7.44 8.21 1.19-5.94 5.79z"/><path d="M27 12.06V40a27.76 27.76 0 0 0 .45 5 4.1 4.1 0 0 0 .11.61 27 27 0 0 0 1.26 4.44c3.18 8.38 10.12 14.49 18.43 15.6a19.25 19.25 0 0 0 2.75.19 18.87 18.87 0 0 0 2.73-.19 22 22 0 0 0 13.52-7.38 26.16 26.16 0 0 0 4.91-8.19 27 27 0 0 0 1.26-4.44 4.1 4.1 0 0 0 .11-.61A27.76 27.76 0 0 0 73 40V12.06Zm22.97 53.78v22.1"/>
                </svg>
              {% when 'truck' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-truck"
                  viewBox="0 0 100 100"
                >
                  <path d="m44.36 67.09-2.17.01h20.46V28.83H22.27v3.93m0 23.71V67.1h8.78l-2.18-.01"/><path d="M36.62 59.5a5.83 5.83 0 0 0-5.84 5.83 5.84 5.84 0 0 0 11.68 0 5.84 5.84 0 0 0-5.84-5.83Zm41.38 0a5.84 5.84 0 0 0-5.85 5.83 5.84 5.84 0 0 0 11.68 0A5.83 5.83 0 0 0 78 59.5Z"/><path d="m70.26 67.09 2.17.01h-9.78V34.03h12.31l15.06 15.06h4.67V67.1H83.57l2.18-.01"/><path d="M66.95 49.1V38h5.49l11.04 11.03-16.53.07zm-38.69-4.57H5.31m27.5-6.72h-15.3m15.3 13.44h-15.3"/>
                </svg>
              {% when 'wallet' %}
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="icon icon-tcwi-wallet"
                  viewBox="0 0 100 100"
                >
                  <path d="M69.36 55.8a2.45 2.45 0 1 1-2.45 2.45 2.45 2.45 0 0 1 2.45-2.45Z"/><path d="M61.77 58.24a7.92 7.92 0 0 0 7.94 7.94H85V85H18.49a6 6 0 0 1-6-6V28a4.64 4.64 0 0 0 4.67 4.66H85v17.65H69.71a7.93 7.93 0 0 0-7.94 7.93Z"/><path d="M86 50.31H69.71a7.94 7.94 0 1 0 0 15.87H86a1.53 1.53 0 0 0 1.53-1.52V51.84A1.54 1.54 0 0 0 86 50.31ZM12.5 28a4.66 4.66 0 0 1 4.67-4.66H47m21.65-.02h10.82v9.33"/><path d="M72.99 32.65H27l20.01-9.33 17.78-8.28 3.86 8.28 4.34 9.33z"/>
                </svg>
            {% endcase %}
          </div>
          <div class="text-wrapper">
            <div class="text-with-icons__block-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            <div class="text-with-icons__block-text">
              {{ block.settings.text }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {%- if section.settings.button_label != blank -%}
      <div class="text-with-icons__button">
        <a href="{{ section.settings.button_link }}" class="btn btn--secondary">
          {{ section.settings.button_label }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% style %}
    #shopify-section-{{ section.id }}  {
      background-color: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .icon {
      color: {{ section.settings.icon_color }};
    }

    #shopify-section-{{ section.id }} .icon path,
    #shopify-section-{{ section.id }} .icon polygon,
    #shopify-section-{{ section.id }} .icon rect,
    #shopify-section-{{ section.id }} .icon circle,
    #shopify-section-{{ section.id }} .icon ellipse,
    #shopify-section-{{ section.id }} .icon line,
    #shopify-section-{{ section.id }} .icon polyline,
    #shopify-section-{{ section.id }} .icon g {
      stroke-width: {{ settings.icon_weight | replace: 'px', '' | minus: 1 }}px;
    }

    #shopify-section-{{ section.id }} {
      margin: 0;
    }
    #shopify-section-{{ section.id }} .text-with-icons{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0
      }
      #shopify-section-{{ section.id }} .text-with-icons__block {
        padding-bottom: 0
      }

    @media screen and (max-width: 767px) {
      .custom-icon {
        display: flex;
        width: 70px;
        height: 70px
      }
      #shopify-section-{{ section.id }} .text-with-icons{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0
      }
      #shopify-section-{{ section.id }} .text-with-icons__blocks {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        gap: 8px
      }
      #shopify-section-{{ section.id }} .text-with-icons__block {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding-bottom: 0;
    }
    #shopify-section-{{ section.id }}  .text-with-icons__block-icon {
       margin-bottom: 0px;
    }
    #shopify-section-{{ section.id }}  .text-wrapper {
      text-align: left;
      max-width: 170px
    }
    .text-with-icons__block-title h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 20px
    }
    .text-with-icons__block-text p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0
    }
  }
  @media screen and (min-width: 768px) {
    .text-with-icons__block-title h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 4px;
      line-height: 30px
    }
    .text-with-icons__block-text p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 0
    }
    #shopify-section-{{ section.id }}  .text-wrapper {
      max-width: 100%
    }
    }
{% endstyle %}

{% schema %}
{
  "name": "Text columns with icons",
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:common.text_with_icons.settings.title.label"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:common.text_with_icons.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:common.text_with_icons.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.text_with_icons.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_columns_per_row",
      "label": "t:common.text_with_icons.settings.desktop_columns_per_row.label",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "t:common.text_with_icons.settings.icon_color.label",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.text_with_icons.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:common.text_with_icons.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:common.text_with_icons.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:common.text_with_icons.blocks.column.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:common.text_with_icons.blocks.column.settings.icon.label",
          "default": "chat",
          "options": [
            {
              "value": "free_shipping",
              "label": "Free Shipping"
            },
            {
              "value": "returns",
              "label": "30-Day Returns"
            },
            {
              "value": "tested",
              "label": "Tested"
            },
            {
              "value": "eu_made",
              "label": "Made in EU"
            },
            {
              "value": "bills",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.bills.label"
            },
            {
              "value": "calendar",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.calendar.label"
            },
            {
              "value": "cart",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.cart.label"
            },
            {
              "value": "charity",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.charity.label"
            },
            {
              "value": "chat",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.chat.label"
            },
            {
              "value": "envelope",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.envelope.label"
            },
            {
              "value": "gears",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.gears.label"
            },
            {
              "value": "gift",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.gift.label"
            },
            {
              "value": "globe",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.globe.label"
            },
            {
              "value": "package",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.package.label"
            },
            {
              "value": "phone",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.phone.label"
            },
            {
              "value": "plant",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.plant.label"
            },
            {
              "value": "recycle",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.recycle.label"
            },
            {
              "value": "ribbon",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.ribbon.label"
            },
            {
              "value": "sales-tag",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.sales-tag.label"
            },
            {
              "value": "shield",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.shield.label"
            },
            {
              "value": "stopwatch",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.stopwatch.label"
            },
            {
              "value": "store",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.store.label"
            },
            {
              "value": "thumbs-up",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.thumbs-up.label"
            },
            {
              "value": "trophy",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.trophy.label"
            },
            {
              "value": "truck",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.truck.label"
            },
            {
              "value": "wallet",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.wallet.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:common.text_with_icons.blocks.column.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text_with_icons.blocks.column.settings.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:common.text_with_icons.presets.text_with_icons.name",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
